<div class="center jumbotron" style="background-color:#0000CD">
  <h1><span>Moussaillon Project</span></h1>
  <h2><i>Le site des Moussaillons THP</i></h2>
</div>
<div class="bienvenue"></br>
  <h4>Bienvenue sur Moussaillon Project, l'application qui ressence tous les moussaillons de <i>The Hacking Project</i></h4>
    <p>Cette application te fait rentrer dans l'univers de THP pour la session de Janvier. Ce site sera evolutif en fonction
      des adherents et de l'avancement des parties de projet</br> que nous feront tout au long de la formation, ainsi que d'autres evenements.</p>
      <p><b>Bon ! Parlons peu mais parlons bien.</b></p>
    <p>Pour l'instant inscrit toi simplement a site en cliquant sur le bouton "Bouton" qui te redirigera vers un simple formulaire
      qu'il te suffira de remplir pour faire parti de la grande famille des moussaillons.</p>
    <p>Tout en bas, tu trouveras des liens pour des contacts ainsi qu'une introduction a THP (pour nos chers visiteurs)</p>
    </br>
</div>
