<footer class="navbar navbar-fixed-bottom navbar-inverse" id="navbar-fixed-bottom">
  <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" id="footer">
    <a class="navbar-brand" href="home"><i>Editer par Robbyro</i></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Au sujet de", root_path %></li>
        <li><%= link_to "Contatcs", root_path %></li>
      </ul>
    </div>
  </nav>
</footer>

<!--
<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
-->
