<%= link_to image_tag("logo-Moussaillon.jpeg", size: "200x200",
  alt: "logo-Mousse"), root_path, id:"logo1" %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Moussaillons", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil", root_path %></li>
        <li><%= link_to "Aide", help_path %></li>
      </ul>
    </nav>
  </div>
</header>
